prototipação-com-n8n/Agent AI - 12.01.26.json
{
  "name": "Agent AI - 12.01.26",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "a8924cac-3d72-43f5-907a-970ccd4ad5d8",
      "name": "When chat message received",
      "webhookId": "7771e5a6-39a3-4794-8167-91f82528cce7",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cda0cbf1-caff-40b4-872e-15ba3d67a803",
              "name": "idConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "79f3ec2f-d577-4c67-af55-15cf47eca649",
              "name": "idMensagem",
              "value": "={{ $now }}-{{ Math.random() }}",
              "type": "string"
            },
            {
              "id": "557f0057-f679-4ec9-90fe-28ebd78c802a",
              "name": "mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "740aec24-757c-4c03-bc1f-c9699334d152",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "Você é um vendedor de coxinha e vai responder aos usuários sobre preços, composição, tabela nutricional, etc. Seu nome é Joaquim. A lista de preços da coxinha se encontra na planilha anexada ao agente, na folha \"precos\". Quando finalizar o pedido, quero que voce gere um json com todas as informacoes, inclusive o endereco, nome e telefone do cliente. Quando finalizar o pedido, registre na planilha em anexo na folha pedidos, nos campos correspondentes com o formato:\npedido: \"pedido\"\nnome: \"nome\",\nendereco: \"endereco\",\ntelefone: \"telefone\",\ntotal: \"total\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "5597dc5e-e8e3-4afb-9aa3-ff193f91ad86",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        688,
        208
      ],
      "id": "0dc5415c-e0f6-4a8a-a88a-9a9552b8f5ca",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU",
          "mode": "list",
          "cachedResultName": "Agent AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Folha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idConversa": "={{ $json.idConversa }}",
            "idMensagem": "={{ $json.idMensagem }}",
            "mensagem": "={{ $json.mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idConversa",
              "displayName": "idConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idMensagem",
              "displayName": "idMensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta",
              "displayName": "resposta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "eaf630c1-11bc-4bee-8ed1-2c0324d8eff4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uVJm4EoPptoNDJyX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU",
          "mode": "list",
          "cachedResultName": "Agent AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1014223390,
          "mode": "list",
          "cachedResultName": "preco",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU/edit#gid=1014223390"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        208
      ],
      "id": "99bff35a-ed24-4fb9-be3d-ad46c3e19059",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uVJm4EoPptoNDJyX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "21af6708-c3f6-42a2-814d-ccacbca2c599",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "O8GEwVXWItUhWVrX",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU",
          "mode": "list",
          "cachedResultName": "Agent AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 854328138,
          "mode": "list",
          "cachedResultName": "pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yKahCNgJ9beb1Glw7jhK9172o4tzSCMbnDG1GPS7EiU/edit#gid=854328138"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "pedido",
              "displayName": "pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idConversa",
              "displayName": "idConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idMensagem",
              "displayName": "idMensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "values",
              "displayName": "values",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "toolCallId",
              "displayName": "toolCallId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1040,
        176
      ],
      "id": "c0a9d452-3756-4c49-99e5-43e0b8baa6a9",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uVJm4EoPptoNDJyX",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5d5c073c-91ed-4138-92db-2e41c540150e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e49680a09686df7fb33f428974679a4ab99abc4f230d39ca1abd80d09a3a25e"
  },
  "id": "9UQ8jYTXqIE4Bp0uYxzgC",
  "tags": []
}