prototipação-com-n8n/Aula 05.01.26.json
{
  "name": "Aula 05.01.26",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a335a8f9-7aae-4a66-9208-ab3368e06d3d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "70c2176b-50b9-4d94-abba-bb844ec3a81c",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73ba50d7-3e5d-4a60-a569-c586e9363c8a",
              "name": "nome",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "787db98c-7b55-4bb6-a074-7ac60fde90a4",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "3e856566-ccee-4f3c-b7e8-dcaaa40f229f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Email de Teste",
        "emailType": "text",
        "message": "=Olá,  {{ $json.nome }}!\nEsse é um email de teste.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        0
      ],
      "id": "8303ea77-3268-471a-ba6e-87df4d00889e",
      "name": "Send a message",
      "webhookId": "0d91658d-ec1d-46cf-b3a7-3334ab5c8a0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "QX4WwolJLcT77K35",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d28ec24-8f1b-480f-a6f4-3b305431d492",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "d6db6cbf-b760-4afd-993d-fffa4eb54d6f",
              "name": "status",
              "value": "={{ $json.labelIds }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "e633822a-712d-4fd7-814b-661238db710d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1A3oFe_grg8_HTktCah6uGgVZYPpjuVpp9BN3vPdZTqo",
          "mode": "list",
          "cachedResultName": "DiverseDev",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A3oFe_grg8_HTktCah6uGgVZYPpjuVpp9BN3vPdZTqo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Folha1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A3oFe_grg8_HTktCah6uGgVZYPpjuVpp9BN3vPdZTqo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nome": "={{ $('Edit Fields').item.json.nome }}",
            "email": "={{ $('Edit Fields').item.json.email }}",
            "status": "={{ $json.status[0] }}",
            "data": "={{$now}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "9091db94-3d49-49ca-954c-2ed12d0a0144",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uVJm4EoPptoNDJyX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "cfc6135f-43b6-4ff3-9578-092c48759401",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b5c3d05a-e504-4fd9-8694-9d842444b74b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e49680a09686df7fb33f428974679a4ab99abc4f230d39ca1abd80d09a3a25e"
  },
  "id": "z4vqtzqTW96eLvzVbmdZW",
  "tags": []
}